<!DOCTYPE html>
<html lang="{% firstof LANGUAGE_CODE 'en' %}">
  <head>
    <title>{% block title %}{% endblock %}</title>

    {% block css %}
    {% endblock %}

    {% block preload_js %}
    {% endblock %}

    {% block extra-head %}
    {% endblock %}
  </head>

  <body>
      <div id="header">
          <h1>ELECSOCIETY</h1>
      </div>
      <div id="content">
        {% block content-header %}
          {% if error %}<div class="error">{{ error }}</div>{% endif %}
          {% if info %}<div class="info">{{ info }}</div>{% endif %}
          {% if messages %}
            {% for message in messages %}
              <div class="info">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endblock %}

        {% block content %}{% endblock %}
      </div>
    </div>

    <div id="footer">
        copyright 2010 elecsociety
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
